$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue',
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

// Color
$theme-colors: (
  'primary': #bd3b6c,
  'secondary': #df82ca,
  'danger': #900,
);

body {
  padding-top: 55px;
}

#login {
  margin: auto;
  max-width: 400px;
}

#register {
  margin: auto;
  max-width: 500px;
}

#navigation {
  .horizontal {
    display: flex;
    flex-direction: row;
    .nav-item {
      padding: 0px 2px 0px 2px;
    }
    .btn {
      border: 0;
    }
  }
}

#feed {
  margin: 0 auto;

  footer {
    position: relative;
    width: 400px;
    height: 200px;

    #scroll-trigger {
      height: 100px;
    }

    .circle-loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 5px solid #bd3b6c;
      border-top: 5px solid #df82ca;
      animation: animate 1.5s infinite linear;
    }
  }

  @keyframes animate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

@import 'node_modules/bootstrap/scss/bootstrap';

// You have two options: include all of Bootstrap, or pick the parts you need.
// We encourage the latter, though be aware there are some requirements
// and dependencies across our components.
// Required
//@import "node_modules/bootstrap/scss/functions";
//@import "node_modules/bootstrap/scss/variables";
//@import "node_modules/bootstrap/scss/mixins";

// Optional
//@import "node_modules/bootstrap/scss/reboot";
//@import "node_modules/bootstrap/scss/type";
//@import "node_modules/bootstrap/scss/images";
//@import "node_modules/bootstrap/scss/code";
//@import "node_modules/bootstrap/scss/grid";
